@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Prompt:wght@200&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

:root {
    --bg-gray-color:#f6f6f6;
    --bg-white-color:#fff;
    --bg-greenliear-color:#linear-gradient(#007356, #009570);
    --text-blue-color:#4460a0;
    --text-sky-color:#00aaec;
    --text-green-color:#00cc99;
    --text-white-color:#fff;
    --text-pink-color:#e33b88;
}
* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Roboto Flex', sans-serif;
    line-height: 1.2;
    background-color: #ccc;
}
.main-container {
    max-width: 1002px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap:wrap;
}
.pd-5 {
    padding: 5px;
}
.mg-20 {
    margin: 20px 0px;
}
.mg-40 {
    margin: 40px 0px;
}
.mg-50 {
    margin: 50px 0px;
}
/* HEADER */
#menu_control {
    position: absolute;
    opacity: 0;
}
.menu_btn {
    display: none;
}
.header-social {
    display: flex;
    justify-content: flex-end;
    background-color: var(--bg-gray-color);
}
.header-social li {
    margin: 5px 5px;
}
.header-social li + li::before {
    content: '';
    padding-right: 10px;
    border-left: 1px solid #ccc;
}
.header-social .fb-icon {
    color: var(--text-blue-color);
    font-weight: 600;
}
.header-social .tw-icon {
    color: var(--text-sky-color);
    font-weight: 600;
}
.header {
    width: 100%;
    display: inline-block;
    background-color: #fff;
}
.header-logo {
    background: no-repeat url(../images/logo.png);
    float: left;
}
.header-logo h1 a {
    width: 224px;
    height: 50px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header-nav {
    float: right;
    margin: 15px 10px 0px 0px;
}
.header-nav li{
    display: inline-block;
}
.header-nav li a {
    font-weight: 600;
    color: var(--text-green-color);
    padding: 15px;
}
.header-nav li a:hover {
    border-bottom: 3px solid var(--text-green-color);
}

/* CONTENT */
.content-wrap {
    background-color: #fff;
    margin-top: -5px;
}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
}
.banner h2 {
    width: 100%;
    padding: 50px 30px;
    font-size: 32px;
    font-weight: 500;
    color: var(--text-white-color);
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 92px;
}
.service {
    justify-content: space-around;
}
.service-item {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(48, 46, 77, 0.15);
    padding: 20px 20px;
    text-align: center;
}
.service-item img {
    width: 100%;
}
.service-item h3 {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0px;
}
.service-item .service-info {
    text-align: left;
    line-height: 1.5;
}
.page-title {
    width: 100%;
    text-align: center;
}
.page-title  h3{
    font-size: 26px;
    font-weight: bold;
}
.table {
    white-space:nowrap;
    overflow:scroll;
}
.table-info {
    margin: 0 auto;
    width: 85%;
    text-align: left;
}
.table-info tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.table-info th {
    font-weight: 700;
    background-color: #f7f7f7;
}
.table-info td, th {
    padding: 10px 35px;
}
.contact-title {
    width: 100%;
    text-align: center;
}
.contact {
    background-image: linear-gradient(#007356, #009570);
    margin-top: 60px;
}
.contact-title h3 {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-white-color);
}
.contact-info {
    width: 100%;
    display: flex;
}
.contact-text {
    width: 50%;
    margin: 0px 10px 20px 20px;
}
.contact-text textarea {
    height: 246px;
    width: 461px;
    border-radius: 3px;
}
.contact-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 10px;
}
.contact-input label {
    color: var(--text-white-color);
    margin-bottom: 5px;
}
.contact-input input {
    margin-bottom: 15px;
    padding: 8px 5px;
    border: none;
    border-radius: 3px;
}
.contact-input input[type=submit] {
    align-self: flex-end;
    font-size: 15px;
    color:var(--text-white-color);
    background-color: var(--text-green-color);
    cursor: pointer;
    padding: 9px 30px;
}
/* FOOTER */
.footer {
    background-color:var(--bg-white-color);
    padding: 50px 0px;
    position: relative;
}
.footer-logo {
    background: no-repeat url(../images/footerLogo.png);
    position: absolute;
    left: 0;
    top: 25px;
    margin-left: 15px;
}
.footer-logo h3 a {
    width: 171px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.footer-info {
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 15px;
}
.footer-info p span {
    color: var(--text-pink-color);
    line-height: 1.5;
}

/* IPAD SCREEN */
@media (max-width:768px) {
    .menu_btn {
        display: none;
    }
    .banner h2 {
        padding: 20px 30px;
        top: 20px;
    }
    .contact-info {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .contact-text {
        width: 100%;
        text-align: center;
    }
    .contact-input {
        width: 100%;
    }
}

/* MOBILE SCREEN */
@media (max-width:480px) {
    .header {
        position: relative;
        z-index: 1;
    }
    .menu_btn {
        width: 40px;
        height: 40px;
        background-color: var(--text-green-color);
        display: block;
        position: absolute;
        border-radius: 5px;
        top: 10px;
        right: 10px;
    }
    .menu_btn span {
        opacity: 0;
        position: relative;
    }
    .menu_btn::before {
        content: '';
        position: absolute;
        height: 2px;
        left: 4px;
        width: 32px;
        background-color: #fff;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px #fff, 0px -8px 0px #fff;
    }
    .header-nav {
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 45px;
        left: -100%;
        transition: .5s;
        z-index: 0;
    }
    .header-nav a {
        font-size: 25px;
    }
    #menu_control:checked ~ .header .header-nav {
        top: 45px;
        left: 0;
        z-index: 1;
    }
    .banner {
        width:100%;
        height: 346px;
        background: no-repeat url(../images/banner.png) right center;
        background-size: cover;
        z-index: 0;
    }
    .banner img {
        display: none;
    }
    .banner h2 {
        padding: 50px 30px;
        top: 90px;
    }
    .service-item {
        width: 100%;
    }
    .contact-text textarea {
        height: 246px;
        width: 100%;
        border-radius: 3px;
    }
    .footer-logo {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .footer-info {
        top: 45px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 15px
    }
}